$v-bar-border: #333333;
$v-bar-background-color: #111111;
$v-bar-color: #ffffff;

$v-bar-shadow-x: 0;
$v-bar-shadow-y: -1px;
$v-bar-shadow-radius: 0;
$v-bar-shadow-color: #000000;

$v-bar-background-start: #3c3c3c;
$v-bar-background-end: #111111;

$v-bar-link-color: #7cc4e7;
$v-bar-link-visited: #2489ce;
$v-bar-link-hover: #2489ce;
$v-bar-link-active: #2489ce;


/* Body */
$v-body-border: #444444;
$v-body-color: #ffffff;

$v-body-background-color: #222222;
$v-body-background-start: #444444;
$v-body-background-end: #222222;


$v-body-shadow-x: 0;
$v-body-shadow-y: 1px;
$v-body-shadow-radius: 0;
$v-body-shadow-color: #111111;

$v-body-link-color: #2489ce;
$v-body-link-visited: #2489ce;
$v-body-link-hover: #2489ce;
$v-body-link-active: #2489ce;